<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head></head>
    <body class="d-flex flex-column h-100 bg-light">
        <!-- Page Content-->

        <div class="container px-5 my-5" th:fragment="resume">
            <div class="text-center mb-5">
                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span> </h1>
                <div class="d-flex justify-content-end align-items-center">
                    <a class="btn btn-primary px-4 py-3" href="/assets/images/Resume_English_Hardware.pdf" download="Resume_MuthuiMureithi.pdf">
                        <div class="d-inline-block bi bi-download me-2" ></div>
                        Download Resume
                    </a> 
                </div>
            </div>
            

            <div class="row gx-5 justify-content-center">

                <div class="pb-5"></div>

                

                <div class="col-lg-11 col-xl-9 col-xxl-8">

                    <section>
                        <!-- Language Card-->
                        <div class="card shadow border-0 rounded-4 mb-5">


                            <div class="card-body p-5">

                                <div class="mb-0">
                                    <div class="d-flex align-items-center mb-4">
                                        <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-translate"></i></div>
                                        <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Languages</span></h3>
                                    </div>
                                    <div class="row row-cols-1 row-cols-md-3 mb-4">
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">English</div></div>
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">French</div></div>
                                        <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Japanese</div></div>
                                    </div>
                                </div>

                                <!-- Skills list-->
                                <div class="mb-5">
                                    <div class="d-flex align-items-center mb-4">
                                        <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                        <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Tools</span></h3>
                                    </div>
                                    <div class="row row-cols-1 row-cols-md-3 mb-4">
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Visual Studio Code</div></div>
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">IntelllijIDE</div></div>
                                        <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">PyCharm</div></div>
                                    </div>
                                    <div class="row row-cols-1 row-cols-md-3 mb-4">
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">MatLab</div></div>
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">GitHub Actions</div></div>
                                    </div>
                                   <div class="row row-cols-1 row-cols-md-3">
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">ModelSim</div></div>
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Xilinx Vivado</div></div>
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Arduino</div></div>

                                    </div>
                                </div>
                                <!-- Languages list-->
                                <div class="mb-0">
                                    <div class="d-flex align-items-center mb-4">
                                        <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                        <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Programming Languages</span></h3>
                                    </div>
                                    <div class="row row-cols-1 row-cols-md-3 mb-4">
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Java</div></div>
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">C++</div></div>
                                        <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JavaScript</div></div>
                                    </div>
                                    <div class="row row-cols-1 row-cols-md-3">
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python</div></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                </section>

                    <!-- Education Section-->
                    <section>
                        <h2 class="text-secondary fw-bolder mb-4">Education</h2>
                        <!-- Education Card 1-->
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center gx-5">
                                    <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                        <div class="bg-light p-4 rounded-4">
                                            <div class="text-secondary fw-bolder mb-2">2022 - Present</div>
                                            <div class="mb-2">
                                                <div class="small fw-bolder">Concordia University</div>
                                                <div class="small text-muted">Montreal, Qc</div>
                                            </div>
                                            <div class="fst-italic">
                                                <div class="small text-muted">Bachelor's</div>
                                                <div class="small text-muted">Computer Engineering</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div>
                                            Relevant Courses:<br>
                                            <ul>
                                                <li>Data structures and algorithms</li>
                                                <li>Software Process and Practices</li>
                                                <li>Introductory Engineering Team Design Project</li>
                                                <li>Computer Architecture & Design</li>
                                                <li>Real-Time Systems</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Education Card 2-->
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center gx-5">
                                    <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                        <div class="bg-light p-4 rounded-4">
                                            <div class="text-secondary fw-bolder mb-2">2019 - 2022</div>
                                            <div class="mb-2">
                                                <div class="small fw-bolder">Bois-de-Boulogne College</div>
                                                <div class="small text-muted">Montreal, Qc</div>
                                            </div>
                                            <div class="fst-italic">
                                                <div class="small text-muted">CEGEP</div>
                                                <div class="small text-muted">Pure and applied sciences</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div>
                                            Relevant Courses:<br>
                                            <ul>
                                                <li>Introduction to video games using Unity</li>
                                                <li>Probability and Statistics</li>
                                                <li>Linear algebra and vector geometry</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- Experience Section-->
                    <section>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h2 class="text-primary fw-bolder mb-0">Experience</h2>
                            <!-- Download resume button-->
                            <!-- Note: Set the link href target to a PDF file within your project-->
                            
                        </div>
                        <!-- Experience Card 1-->
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center gx-5">
                                    <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                        <div class="bg-light p-4 rounded-4">
                                            <div class="text-primary fw-bolder mb-2">2023 - 2023</div>
                                            <div class="small fw-bolder">Kitchen Aid</div>
                                            <div class="small text-muted">St-Hubert</div>
                                            <div class="small text-muted">Montreal, Qc</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div>Developped Skills:<br>
                                            <ul>
                                                <li>Team Work</li>
                                                <li>Time Management</li>
                                                <li>Problem Solving Skills</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Experience Card 2-->
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center gx-5">
                                    <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                        <div class="bg-light p-4 rounded-4">
                                            <div class="text-primary fw-bolder mb-2">2020 - 2021</div>
                                            <div class="small fw-bolder">Donation Handler</div>
                                            <div class="small text-muted">Renaissance</div>
                                            <div class="small text-muted">Montreal, Qc</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div>
                                            Developped Skillss:<br>
                                            <ul>
                                                <li>Time management</li>
                                                <li>Customer service skills</li>
                                            </ul>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h2 class="text-secondary fw-bolder mb-0">Hobby</h2>
                        </div>
                        <!-- Experience Card 1-->
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center gx-5">
                                    <div class="col-lg-8">
                                            <ul>
                                                <li>Badminton</li>
                                                <li>Violin</li>
                                                <li>Gaming (league of legends)</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                
                    </section>
                </div>
            </div>
        </div>
    </body>
</html>
